.care{
    max-width: 1600px;
    width: 100%;
    background-color:#3D4A39;
    margin-right: auto;
    margin-left: auto;
}
.care--container{
    max-width: 996px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    // TITLE 
    .care__title {

    }

}